.box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.box1 {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  .box2 {
    width: 150px;
    height: 150px;
    background-color: blue;
  }
}