.section-about {
  &__text {
    width: 560px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #545454;

    p {
      margin-top: 0;
      margin-bottom: 18px;
    }

    strong {
      font-weight: 700;
    }

    @media(max-width: 1140px) {
      width: 100%;
    }
  }
}