// ===== INFO ==============================
.info {
  padding: 0px 0px 75px 0px;

  @media (max-width: 640px) {
    padding: 0px 0px 40px 0px;
  }

  // .info__container
  &__container {
    overflow: hidden;
  }

  // .info__row
  &__row {
    display: flex;
    margin: 0 -22px;
    flex-wrap: wrap;
  }

  // .info__column
  &__column {
    flex: 0 1 50%;
    padding: 0 22px;
    margin: 0px 0px 55px 0px;

    &:last-child {
      flex: 1 1 auto;
      margin: 0;
    }

    @media (max-width: $md4+px) {
      flex: 1 1 auto;
    }
  }

  // .info__block
  &__block {}

  // .info__title
  &__title {}

  // .info__content
  &__content {}

  // .info__item
  &__item {
    margin: 0px 0px 30px 0px;
  }

  // .info__date
  &__date {
    color: #bb9c66;
    font-size: 12px;
    margin: 0px 0px 10px 0px;
  }

  // .info__label
  &__label {
    display: inline-block;
    color: #333333;
    text-decoration: underline;
    font-weight: 700;
    font-size: 15px;
    margin: 0px 0px 5px 0px;
  }

  // .info__text
  &__text {
    font-size: 15px;
    line-height: calc(21 / 15);
  }

  // .info__subscribe
  &__subscribe {}
}

// ===== TITLE-INFO ========================
.title-info {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-family: "PFDin";
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px 0px 30px 0px;

  span {
    &:first-child {
      margin: 0px 17px 0px 0px;

      picture {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// ===== SUBSCRIBE =========================
.subscribe {

  // .subscribe__title
  &__title {}

  // .subscribe__body
  &__body {
    display: flex;
    margin: 0 -22px;

    @media (max-width: 640px) {
      flex-wrap: wrap;
    }
  }

  // .subscribe__column
  &__column {
    flex: 0 1 50%;
    padding: 0 22px;

    @media (max-width: 640px) {
      flex: 1 1 auto;

      &:first-child {
        margin: 0px 0px 10px 0px;
      }
    }
  }

  // .subscribe__text
  &__text {
    font-size: 15px;
    line-height: calc(21 / 15);
  }

  // .subscribe__form
  &__form {}
}

// ===== FORM-SUBSCRIBE ====================
.form-subscribe {
  height: 50px;
  border: 3px solid #bb9c66;
  background-color: #ffffff;
  display: flex;

  // .form-subscribe__input
  &__input {
    flex: 1 1 auto;

    input {
      outline-style: none;
      border: none;
    }
  }

  // .form-subscribe__btn
  &__btn {
    position: relative;
    flex: 0 0 95px;
    background-color: #fff;
    border: none;

    &:focus {
      outline-style: none;
      border: none;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 32px;
      background-color: $icon-color;
    }

    span {
      cursor: pointer;
      background: url(../img/icons/arrow-sent.svg) right no-repeat;
      padding: 0px 35px 0px 0px;
      font-family: "PFDin";
      color: #1c242a;
      font-size: 21px;
      font-weight: 500;
      line-height: calc(25 / 21);
      text-transform: uppercase;
      letter-spacing: 2.12px;
    }
  }
}

// 2:55