// ===== LOTS ==============================
.lots {
  padding: 85px 0px 63px 0px; // .lots__container

  &__container {}

  // .lots__header
  &__header {
    margin: 0px 0px 40px 0px;
  }

  // .lots__slider
  &__slider {}
}

// ----- SLIDER-LOTS -----------------------
.slider-lots {
  overflow: hidden;

  // .slider-lots__body
  &__body {}

  // .slider-lots__slide
  &__slide {}

  // .slider-lots__control
  &__control {}
}

// ----- CONTROL-SLIDER-LOTS ---------------
.control-slider-lots {
  display: flex;
  justify-content: center;
  align-items: center;

  // .control-slider-lots__arrow
  &__arrow {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      flex: 0 0 108px;
      width: 108px;
      height: 35px;
      background: url('../img/icons/sl-arrow.svg') 0 0 no-repeat;
    }

    &:after {
      content: '';
      margin: 0px 5px 0px 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid $icon-color;
    }

    &:last-child {
      flex-direction: row-reverse;

      span {
        transform: rotate(180deg);
      }
    }
  }

  // .control-slider-lots__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100px;
    flex: 0 0 100px;
    height: 100px;
    background: url('../img/icons/circle.png') 0 0 no-repeat;
    margin: 0px 20px 0px 20px;

    font-family: 'PFDin';
    color: #000000;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
  }
}

// ===== LOT ===============================
.lot {
  display: flex;
  flex-direction: column;
  height: 100%;

  // .lot__header
  &__header {
    text-align: center;
    margin: 0px 0px 30px 0px;
    position: relative;
  }

  // .lot__image
  &__image {
    display: block;
    height: 250px;
    // width: 250px;
    border: 3px solid $icon-color;
  }

  // .lot__timer
  &__timer {
    transform: translate(-50%, 50%);
    position: absolute;
    left: 50%;
    bottom: 0;
  }

  // .lot__title
  &__title {
    color: #000000;
    font-family: "PFDin";
    font-size: 21px;
    font-weight: 500;
    line-height: calc(25 / 21);
    text-transform: uppercase;
    flex: 1 1 auto;
  }

  // .lot__info
  &__info {}

  // .lot__btn
  &__btn {}
}

// ----- TIMER-LOT -------------------------
.timer-lot {
  width: 72px;
  height: 72px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 0px 0px;

  div {
    // position: relative;
    z-index: 2;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background-color: #fff;
  }

  // .timer-lot__icon
  &__icon {
    margin: 0px 0px 0px 0px;
  }

  // .timer-lot__item
  &__item {
    font-family: "PTSans";
    font-size: 18px;
    line-height: 1.17;
  }
}

// ----- INFO-LOT --------------------------
.info-lot {

  // .info-lot__stistic
  &__stistic {}

  // .info-lot__icon
  &__icon {}

  // .info-lot__value
  &__value {}

  // .info-lot__current-bet
  &__current-bet {}
}

// ----- CURRENT-BET-INFO-LOT --------------
.current-bet-info-lot {

  // .current-bet-info-lot__label
  &__label {}

  // .current-bet-info-lot__value
  &__value {}

  // .current-bet-info-lot__currency
  &__currency {}
}