// ====== КАРТИНКИ =========================
._ibg {
  position: relative;

  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  }

  img {
    /*
      ИСТОЧНИК: https://www.youtube.com/watch?v=nTtuiBXKp88&list
      ИСХОДНИК: http://fls.guru/ibg.html
    */

    // Блок кода ниже для совместной работы с JS
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  /*
    Отзывчивая картинка.
    Где: 
    320px/950px * 100% - динамический расчеи размера,
    зависящий от размера родительского контейнера
    
    &__chaildImage {
      flex: 0 0 320px/950px * 100%;
    }
  */
}

// ===== TITLE =============================
.title {
  text-align: center;

  // .title__item
  &__item {
    color: #bb9c66;
    font-family: "Ceremonious";
    font-weight: 400;
    font-size: 40px;
    margin: 0px 0px 27px/40px * 1em 0px;
  }

  // .title__main
  &__main {
    font-size: 35px;
    line-height: calc(40 / 35);
    text-transform: uppercase;
    letter-spacing: 5.25px;
    font-weight: 500;

    // ----- Modificators ------------------
    &_regular {
      font-weight: 400;
    }

    &_w {
      color: #ffffff;
    }

    @media (max-width: $md3+px) {
      font-size: 30px;
    }
  }
}

// ===== BLOCK =============================
.block {

  // ===== BLOCK-HEADER ======================
  &-header {

    // .block-header__title
    &__title {
      margin: 0px 0px 20px 0px;
    }

    // .block-header__decor
    &__decor {}
  }

  // ===== BLOCK-DECOR =======================
  &-decor {
    display: flex;
    align-items: center;

    // .block-decor__items
    &__items {
      flex: 1 1 auto;
      display: flex;
      align-items: center;

      &:before {
        content: "";
        height: 1px;
        width: 100%;
        flex: 1 1 auto;
        background-color: $icon-color;
      }

      &:after {
        content: "";
        // width: 25px * .64;
        height: 25px * 0.64;
        flex: 0 0 25px * 0.64;
        border: 1px solid $icon-color;
        transform: rotate(45deg);
        margin: 0px 5px 0px 5px;
      }

      span {
        display: flex;
        align-items: center;
        margin: 0px 5px;

        &:before {
          content: "";
          height: 10px;
          width: 10px;
          flex: 0 0 10px;
          border-radius: 50%;
          border: 1px solid $icon-color;
          margin: 0 5px;
        }

        &:after {
          content: "";
          width: 15px * 0.64;
          height: 15px * 0.64;
          flex: 0 0 15px * 0.64;
          border: 1px solid $icon-color;
          transform: rotate(45deg);
        }
      }

      &:last-child {
        flex-direction: row-reverse;

        span {
          flex-direction: row-reverse;
        }
      }
    }

    // .block-decor__icon
    &__icon {
      flex: 0 0 145px;
      text-align: center;

      img {
        max-width: 77px;
      }

      @media (max-width: $md3+px) {
        flex: 0 0 95px;
      }
    }
  }
}