// ====== КАРТИНКИ =========================
._ibg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    /*
      ИСТОЧНИК: https://www.youtube.com/watch?v=nTtuiBXKp88&list
      ИСХОДНИК: http://fls.guru/ibg.html
    */

    // Блок кода ниже для совместной работы с JS
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}

// =========================================
.title {

  // .title__item
  &__item {
    color: #bb9c66;
    font-family: 'Ceremonious';
    font-size: 40px;
    margin: 0px 0px 27px/40px * 1em 0px;
  }

  // .title__main
  &__main {
    font-size: 35px;
    line-height: calc(40 / 35);
    text-transform: uppercase;
    letter-spacing: 5.25px;
    font-weight: 500;

    &_regular {
      font-weight: 400;
    }

    &_w {
      color: #FFFFFF;
    }

    @media(max-width: $md3+px) {
      font-size: 30px;
    }
  }
}