// ====== МИКСИНЫ ==========================
@import "mixin";

// ====== ПЛАГИНЫ, БИБЛИОТЕКИ ==============
@import "../libs/swiper/css/swiper";

// ====== ШРИФТЫ ===========================
// &display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&display=swap&subset=cyrillic-ext");
@import "fonts";

// ====== Шрифт по умолчанию ===============
$fontfamily: "PTSans";

// ====== Переменные =======================
$minwidth: 320px;
$mw: 970;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$bgc-header: #1c242a;
$icon-color: #BB9C5F;


// ====== Обнуление, Общие параметры =======
@import "null";

body {
  color: #000000;
  font-size: 14px;
  font-family: $fontfamily, sans-serif;

  &._lock {
    overflow: hidden;

    @media(max-width:$md3+px) {
      // width: 100%;
      // position: fixed;
      // overflow: hidden;
    }
  }
}

// ====== Оболочка =========================
.wrapper {
  // width: 100%;
  // min-height: 100%;
  // overflow: hidden;
  // display: flex;
  // flex-direction: column;

  &._loaded {}
}

// ====== Основная сетка ==================
._container {
  max-width: $mw + px;
  margin: 0 auto;
  padding: 0 10px;

  // @media(max-width: $md1 + px) {
  //   max-width: 970px;
  // }

  // @media(max-width: $md2 + px) {
  //   max-width: 750px;
  // }

  @media(max-width: $md3 + px) {
    max-width: none;
  }
}

// ====== UI СТИЛИ, ФОРМЫ, КЛАССЫ ==========
@import "forms";
@import "ui";

// ====== СТИЛИ СТРАНИЦ и ЭЛЕМЕНТОВ ========
@import "popup";
@import "header";
@import "slider";
@import "lots";
@import "categories";

@import "footer";
@import "home";

// ====== ОСНОВНОЙ БЛОК ====================
.page {
  flex: 1 1 auto;
}