<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./fonts/uni-neue/stylesheet.css">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <!-- Navigation -->
      <nav class="nav">
        <div class="logo">
          <div class="logo__title">
            Жанна Тата
          </div>
          <div class="logo__slogan">
            Сертифицированный тренер по тета-хилингу</div>
        </div>

        <!-- Кнопка для мобильной навигации -->
        <div id="menu-togle" class="menu-icon">
          <div class="menu-icon-line"></div>
        </div>

        <!-- Навигация для десктопа -->
        <div class="top-nav">
          <a href="#" class="top-nav__link">ОБО МНЕ</a>
          <a href="#" class="top-nav__link">ТЕТА-ХИЛЛИНГ</a>
          <a href="#" class="top-nav__link">УСЛУГИ </a>
          <a href="#" class="top-nav__link">РАСПИСАНИЕ</a>
          <a href="#" class="top-nav__link">ГАЛЕРЕЯ</a>
          <a href="#" class="top-nav__link">БЛОГ</a>
          <a href="#" class="top-nav__link">КОНТАКТЫ</a>
        </div>

        <!-- Мобильная навигация -->
        <div id="mobile-nav" class="mobile-nav">
          <!-- <div class="mobile-nav__title">Навигация</div> -->
          <ul class="mobile-nav__list">
            <li class="mobile-nav__item">
              <a href="#" class="mobile-nav__link">ОБО МНЕ</a>
            </li>
            <li class="mobile-nav__item">
              <a href="#" class="mobile-nav__link">ТЕТА-ХИЛЛИНГ</a>
            </li>
            <li class="mobile-nav__item">
              <a href="#" class="mobile-nav__link">УСЛУГИ</a>
            </li>
            <li class="mobile-nav__item">
              <a href="#" class="mobile-nav__link">РАСПИСАНИЕ</a>
            </li>
            <li class="mobile-nav__item">
              <a href="#" class="mobile-nav__link">ГАЛЕРЕЯ</a>
            </li>
            <li class="mobile-nav__item">
              <a href="#" class="mobile-nav__link">БЛОГ</a>
            </li>
            <li class="mobile-nav__item">
              <a href="#" class="mobile-nav__link">КОНТАКТЫ</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- // Navigation -->

      <!-- header row -->
      <div class="header__row">
        <!-- Header content -->
        <div class="header__content">
          <h1 class="header__title">
            Обучающий курс
            <span>Тета Хилинга</span>
          </h1>

          <div class="header__text">
            <p>
              Раскройте в себе новые качества и способности и научитесь
              управлять своей жизнью
            </p>
          </div>

          <ul class="header-list">
            <li class="header-list__item"><b>Гармонизация</b> взаимоотношений (супружеских, любовных, партнерских, с
              детьми)</li>
            <li class="header-list__item"><b>Обретение</b> лучшего для вас партнера</li>
            <li class="header-list__item"><b>Развитие</b> любых необходимых качеств</li>
            <li class="header-list__item"><b>Преодоление</b> страхов, фобий, зависимостей</li>
            <li class="header-list__item"><b>Исцеление</b> физических заболеваний</li>
            <li class="header-list__item"><b>Достижение</b> финансового благополучия</li>
            <li class="header-list__item"><b>Преодоление</b> деструктивных убеждений</li>
          </ul>

        </div>
        <!-- // Header content -->

      </div>
      <!-- // header row -->
      <div class="header__img-wrapper">
        <!-- Header img -->
        <img class="header__img" src="./img/image.png" alt="img">
        <!-- // Header img -->
      </div>
    </div>



  </header>

  <div class="header__arrow">
    <a href="#" class="header__link">
      <!-- <img class="header__link-img" src="./img/button-navigation.svg" alt="navigation"> -->
    </a>
  </div>

  <section class="section-about">
    <div class="container">
      <h2 class="section-about__header">
        Меня зовут Жанна, и я вам <br>
        <span>помогу трансформировать</span> свою жизнь
      </h2>

      <div class="section-about__row">
        <div class="section-about__video">

          <div class="promo-video">
            <!-- <img class="promo-video__img" src="./img/video.jpg" alt="video"> -->
            <button data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" savefrom_lm_index="2"
              savefrom_lm="1" class="promo-video__play-btn">
              <img src="./img/button-play.svg" alt="btn-play">
            </button>
          </div>
        </div>

        <div class="section-about__text">
          <p>Всю свою сознательную жизнь я увлекалась <strong>психологией, эзотерикой, восточной философией</strong>, но
            несмотря на это не могла выстроить свою личную жизнь. Тогда я поняла, что только изменив себя, возможно
            изменить мир вокруг себя.</p>

          <p>Впервые посетив индийского, гуру который приехал в Европу и <strong>получила даршан</strong>,
            соприкоснулась с местной культурой и глубокой верой и смогла получить ответы на свои вопросы.</p>

          <p>Сейчас я практик, <strong>живу во Франции</strong> - общий стаж консультирования более 1 000 часов. Особое
            место в практике занимают обучающие классы по методике <strong>Тета Хилинг</strong></p>
        </div>
      </div>

      <div class="statistics-wrapper">

        <div class="statistics__item">
          <div class="statistics__quantity">1000+</div>
          <div class="statistics__description">
            <div class="statistics__description-bold">Часов</div>
            <div class="statistics__description-text">Общий стаж <br>консультирования</div>
          </div>
        </div>

        <div class="statistics__dots"><img src="./img/threeDots.svg" alt="dots"></div>

        <div class="statistics__item">
          <div class="statistics__quantity">15+</div>
          <div class="statistics__description">
            <div class="statistics__description-bold">Лет</div>
            <div class="statistics__description-text">Занимаюсь вопросами <br>
              духовного роста</div>
          </div>
        </div>

        <div class="statistics__dots"><img src="./img/threeDots.svg" alt="dots"></div>

        <div class="statistics__item">
          <div class="statistics__quantity">1200+</div>
          <div class="statistics__description">
            <div class="statistics__description-bold">Человек</div>
            <div class="statistics__description-text">Успешно прошли <br>
              индивидуальные тренинги</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 1. Add latest jQuery and fancybox files -->

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

  <script src="./js/main.js"></script>

</body>

</html>