// =========================================
// @import "../b-menu/menu";

// =========================================
.header {
  background: url("../img/bg_header.jpg") top no-repeat;

  // .header__top
  &__top {}

  // .header__bottom
  &__bottom {}
}

.top-header {

  // .top-header__content
  &__content {
    display: flex;
    align-items: center;
    height: 90px;
  }

  // .top-header__column
  &__column {
    flex: 0 1 50%;

    // .top-header__column_logo
    &_logo {
      align-self: flex-start;
      padding: 25px 0px 0px 0px;
      flex: 0 0 190px;
      text-align: center;
    }
  }

  // .top-header__menu
  &__menu {}

  // .top-header__logo
  &__logo {}

  // .top-header__contacts
  &__contacts {}
}

.menu {

  // .menu__icon
  &__icon {}

  // .menu__body
  &__body {}

  // .menu__list
  &__list {
    display: grid;
    grid-template-columns: 130px 130px 180px;

    li {
      margin: 1px 0px;
    }
  }

  // .menu__link
  &__link {
    min-height: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 22px;
    transition: all .5s ease;

    font-family: Play;
    font-size: 14px;
    line-height: calc(18 / 14);
    text-decoration: underline;
    color: #ffffff;

    @media (min-width: $md2+px) {
      &:hover {
        background-color: #068292;
        border-radius: 20px;
      }
    }
  }
}

.icon-menu {}

.contacts-header {
  display: flex;
  justify-content: center;

  // .contacts-header__column
  &__column {
    border-right: 1px solid #fff;
    padding: 0px 30px;

    &:last-child {
      border: none;
    }
  }

  // .contacts-header__item
  &__item {

    // .contacts-header__item_icon
    &_icon {
      background: url("../img/icons/header/phone.png") left no-repeat;
      padding: 0px 0px 0px 37px;
    }
  }

  // .contacts-header__label
  &__label {
    font-family: Roboto;
    font-size: 12px;
    line-height: calc(18 / 12);
    font-weight: 300;
    color: #ffffff;
    margin: 0px 0px 5px 0px;
  }

  // .contacts-header__phone
  &__phone {
    font-family: Roboto;
    font-size: 18px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.bottom-header {

  // .bottom-header__container
  &__container {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .bottom-header__column
  &__column {
    flex: 0 1 calc(50% - 95px);
  }

  // .bottom-header__actions
  &__actions {}

  // .bottom-header__info
  &__info {}
}

.actions-header {
  display: flex;
  align-items: center;

  li {
    margin: 0px 54px 0px 0px;

    @media (max-width: $maxWidthContainer+px) {
      margin: 0px 54 / $maxWidthContainer * 100vw 0px 0px;
    }
  }

  // .actions-header__item
  &__item {}

  // .actions-header__login
  &__login {
    padding: 0px 0px 0px 36px;
    background: url('../img/icons/header/login.png') left no-repeat;
    display: inline-block;
    line-height: 24px;
    color: #999999;

    span {
      border-bottom: 1px dashed;
    }
  }

  // .actions-header__reg
  &__reg {
    padding: 0px 0px 0px 34px;
    background: url('../img/icons/header/user.png') left no-repeat;
    display: inline-block;
    line-height: 24px;
    color: #1AB9CE;

    span {
      border-bottom: 1px dashed;
    }
  }

  // .actions-header__email
  &__email {
    padding: 0px 0px 0px 35px;
    background: url('../img/icons/header/mail.png') left no-repeat;
    display: inline-block;
    line-height: 24px;
    color: #1AB9CE;

    span {
      border-bottom: 1px solid;
    }
  }
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;

  // .info-header__column
  &__column {
    padding: 0px 54px 0px 0px;

    @media (max-width: $maxWidthContainer+px) {
      margin: 0px 54 / $maxWidthContainer * 100vw 0px 0px;
    }

    &:last-child {
      padding: 0;
    }
  }

  // .info-header__callback
  &__callback {
    padding: 0px 0px 0px 32px;
    background: url('../img/icons/header/callback.png') left no-repeat;
    display: inline-block;
    line-height: 24px;
    color: #1AB9CE;

    span {
      border-bottom: 1px dashed;
    }
  }

  // .info-header__schedule
  &__schedule {
    background: url('../img/icons/header/schedule.png') left no-repeat;
    padding: 0px 0px 0px 37px;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    color: #999999;

    span {
      font-weight: 900;
    }
  }

  // .info-header__cart
  &__cart {
    display: inline-block;
    background: url('../img/icons/header/cart.png') 0 0 no-repeat;
    width: 43px;
    height: 43px;
    position: relative;

    span {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(75%, 0px);

      line-height: 25px;
      padding: 0px 11px;
      border-radius: 20px;
      background-color: #f68038;
      font-size: 18px;
      font-weight: 700;
      color: #ffffff;
    }
  }
}

// 1:33