.box {
  width: 150px;
  height: 150px;
  background-color: red;
}
button {
  width: 80px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.btn {
  &__yellow {
    margin-top: 0;
    background-color: #ff0;
    border-radius: 0;
  }
}

.circle {
  width: 80px;
  height: 80px;
  background-color: blue;
  display: block;
  margin-top: 10px;
  border-radius: 100%;
}

.heart {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 10px;
  &:before,
  &:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  &:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
  }
}
.black{
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: black;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #fff;
}

.touch-box {
  width: 200px;
  height: 200px;
  background-color: #ff0000;
}

.box {
  &Border {
    position: relative;
    width: 400px;
    height: 400px;
    border: 3px solid red;
  }
  &Color {
    &__blue {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      background-color: blue;
    }
    &__grey {
      padding: 10px 5px;
      background-color: #777;
    }
  }
}